@import url("https://fonts.googleapis.com/css?family=Changa One");
@import url("https://fonts.googleapis.com/css?family=Imprima");
@import url("https://fonts.googleapis.com/css?family=Kosugi Maru");

/* Background colors*/
body {
 overflow: hidden;
 background-color: rgba(0,0,0,0);
}
/* Transparent background. */
yt-live-chat-renderer {
 background-color: transparent !important;
}
yt-live-chat-text-message-renderer,
yt-live-chat-text-message-renderer[is-highlighted] {
 background-color: transparent !important;
}

yt-live-chat-text-message-renderer[author-type="owner"],
yt-live-chat-text-message-renderer[author-type="owner"][is-highlighted] {
 background-color: transparent !important;
}

yt-live-chat-text-message-renderer[author-type="moderator"],
yt-live-chat-text-message-renderer[author-type="moderator"][is-highlighted] {
 background-color: transparent !important;
}

yt-live-chat-text-message-renderer[author-type="member"],
yt-live-chat-text-message-renderer[author-type="member"][is-highlighted] {
 background-color: transparent !important;
}


yt-live-chat-author-chip #author-name {
 background-color: transparent !important;
}
/* Outlines */
yt-live-chat-renderer * {
 text-shadow: -2px -2px #000000,-2px -1px #000000,-2px 0px #000000,-2px 1px #000000,-2px 2px #000000,-1px -2px #000000,-1px -1px #000000,-1px 0px #000000,-1px 1px #000000,-1px 2px #000000,0px -2px #000000,0px -1px #000000,0px 0px #000000,0px 1px #000000,0px 2px #000000,1px -2px #000000,1px -1px #000000,1px 0px #000000,1px 1px #000000,1px 2px #000000,2px -2px #000000,2px -1px #000000,2px 0px #000000,2px 1px #000000,2px 2px #000000;
 font-family: "Kosugi Maru";
 font-size: 20px !important;
 line-height: 20px !important;
}

yt-live-chat-text-message-renderer #content,
yt-live-chat-legacy-paid-message-renderer #content {
 overflow: initial; !important
 position: absolute;
 bottom: 0;
}

/* Hide scrollbar. */
yt-live-chat-item-list-renderer #items{
 overflow: hidden !important;
}

yt-live-chat-item-list-renderer #item-scroller{
 overflow: hidden !important;
}

/* Hide header and input. */
yt-live-chat-header-renderer,
yt-live-chat-message-input-renderer {
 display: none !important;
}

/* Reduce side padding. */
yt-live-chat-text-message-renderer,
yt-live-chat-legacy-paid-message-renderer {
   padding-left: 4px !important;
 padding-right: 4px !important;
}

yt-live-chat-paid-message-renderer #header {
   padding-left: 4px !important;
 padding-right: 4px !important;
}

/* Avatars. */
yt-live-chat-text-message-renderer #author-photo,
yt-live-chat-paid-message-renderer #author-photo,
yt-live-chat-legacy-paid-message-renderer #author-photo {
 display: none !important;
 width: 20px !important;
 height: 20px !important;
 border-radius: 20px !important;
 margin-right: 6px !important;
}

/* Hide badges. */
yt-live-chat-text-message-renderer #author-badges {
 display: none !important;
 vertical-align: text-top !important;
}

/* Badges. */
yt-live-chat-text-message-renderer #author-name[type="owner"],
yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer[type="owner"] {
 color: #ffbbb4 !important;
}

yt-live-chat-text-message-renderer #author-name[type="moderator"],
yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer[type="moderator"] {
 color: #9affe2 !important;
}

yt-live-chat-text-message-renderer #author-name[type="member"],
yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer[type="member"] {
 color: #3bf0fb !important;
}

/* Channel names. */
yt-live-chat-text-message-renderer #author-name {
 color: #ffffff !important;
 font-family: "Kosugi Maru";
 font-size: 20px !important;
 line-height: 20px !important;
}

yt-live-chat-text-message-renderer #author-name[type="owner"]::after {
 font-family: "Kosugi Maru";
 color: #ffbbb4 !important;
 content: "[YouTube]:";
 margin-left: 2px;
}

yt-live-chat-text-message-renderer #author-name[type="moderator"]::before {
 font-family: "Kosugi Maru";
 color: #9affe2 !important;
 content: "[1] <";
 margin-left: 2px;
}

yt-live-chat-text-message-renderer #author-name[type="moderator"]::after {
 font-family: "Kosugi Maru";
 color: #9affe2 !important;
 content: ">";
 margin-left: 2px;
}

yt-live-chat-text-message-renderer #author-name[type="member"]::before {
 font-family: "Kosugi Maru";
 color: #3bf0fb !important;
 content: "(";
 margin-left: 2px;
}

yt-live-chat-text-message-renderer #author-name[type="member"]::after {
 font-family: "Kosugi Maru";
 color: #3bf0fb !important;
 content: ") ";
 margin-left: 2px;
}

yt-live-chat-text-message-renderer #author-name::after {
 content: " : ";
 margin-left: 2px;
}

/* Timestamps. */
yt-live-chat-text-message-renderer #timestamp {
 display: inline !important;
 color: #e0df9e !important;
 font-family: "Kosugi Maru";
 font-size: 20px !important;
 line-height: 20px !important;
}

yt-live-chat-text-message-renderer #timestamp:before {
 display: inline !important;
 color: #e0df9e !important;
 content: "[ ";
}

yt-live-chat-text-message-renderer #timestamp:after {
 display: inline !important;
 color: #e0df9e !important;
 content: "]";
}

/* Messages. */
yt-live-chat-text-message-renderer #message,
yt-live-chat-text-message-renderer #message * {
 color: #ffffff !important;
 font-family: "Kosugi Maru";
 font-size: 20px !important;
 line-height: 20px !important;
 position: absolute;
 text-align: left;
}

/* SuperChat/Fan Funding Messages. */
yt-live-chat-paid-message-renderer #author-name,
yt-live-chat-paid-message-renderer #author-name *,
yt-live-chat-legacy-paid-message-renderer #event-text,
yt-live-chat-legacy-paid-message-renderer #event-text * {
 color: #ffff80 !important;
 font-family: "Changa One";
 font-size: 20px !important;
 line-height: 20px !important;
}

yt-live-chat-paid-message-renderer #purchase-amount,
yt-live-chat-paid-message-renderer #purchase-amount *,
yt-live-chat-legacy-paid-message-renderer #detail-text,
yt-live-chat-legacy-paid-message-renderer #detail-text * {
 color: #e0df9e !important;
 font-family: "Kosugi Maru";
 font-size: 20px !important;
 line-height: 20px !important;
}

yt-live-chat-paid-message-renderer #content,
yt-live-chat-paid-message-renderer #content * {
 color: #e0df9e !important;
 font-family: "Kosugi Maru";
 font-size: 20px !important;
 line-height: 20px !important;
}

yt-live-chat-paid-message-renderer {
 margin: 4px 0 !important;
}

yt-live-chat-legacy-paid-message-renderer {
 background-color: #00e8e8 !important;
 margin: 4px 0 !important;
}

yt-live-chat-text-message-renderer a,
yt-live-chat-legacy-paid-message-renderer a {
 text-decoration: none !important;
}

yt-live-chat-text-message-renderer[is-deleted],
yt-live-chat-legacy-paid-message-renderer[is-deleted] {
 display: none !important;
}

yt-live-chat-ticker-renderer {
 background-color: transparent !important;
 box-shadow: none !important;
}


yt-live-chat-ticker-paid-message-item-renderer,
yt-live-chat-ticker-paid-message-item-renderer *,
yt-live-chat-ticker-sponsor-item-renderer,
yt-live-chat-ticker-sponsor-item-renderer * {
 color: #ffff80 !important;
 font-family: "Kosugi Maru";
}

yt-live-chat-mode-change-message-renderer, 
yt-live-chat-viewer-engagement-message-renderer, 
yt-live-chat-restricted-participation-renderer {
 display: none !important;
}

@keyframes anim {
0% { opacity: 0; }
100% { opacity: 1; transform: none;}
}

yt-live-chat-text-message-renderer,
yt-live-chat-legacy-paid-message-renderer {
 animation: anim 200ms;
 animation-fill-mode: both;
}