/*アバターを横並びにします。名前はアイコンの右に表示します。*/
body {
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.voice-states * {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
}
.voice-state {
  padding-right: 6px;
  height: 70px;
} 
.avatar {
  left: 7px;
}
.user {
  top: 14px;
  left: 2px;
  background: rgba(0,0,0,.7);
  padding: 4px 5px 0px !important;
  border-radius: 4px;
}
.name {
  min-width: 55px;
  height: 17px;
  white-space: nowrap;
  text-overflow: clip;
  text-align: center;
  background-color: rgba(0,0,0,0) !important;
  padding: 0 !important;
  overflow: hidden;
}